fastapi==0.115.6
uvicorn[standard]==0.32.1
python-multipart==0.0.19
pydantic==2.10.3
python-dotenv==1.0.1

torch
torchvision

pillow==11.0.0
numpy
scikit-learn

pypdf==5.1.0
chromadb
sentence-transformers

httpx==0.28.1

pytest==8.3.4
pytest-asyncio==0.24.0
reportlab==4.2.5
